.header-container {
  background-color: #051937;
  color: #fff;
}
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 10px 0px;
  margin: 0 auto;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
