<div class="login-container">
  <form [formGroup]="loginForm">
    <div class="loginform-header">
      <h1>Welcome Back</h1>
      <p>Enter your credentials to continue.</p>
    </div>

    <div class="input-wrapper">
      <input
        formControlName="username"
        type="text"
        placeholder="Enter your username"
      />
      <small
        class="error"
        *ngIf="
          f['username'].errors &&
          f['username'].errors['required'] &&
          (f['username'].touched || f['username'].dirty || submited)
        "
        >username is required</small
      >
    </div>

    <div class="input-wrapper">
      <input
        formControlName="password"
        type="password"
        placeholder="Enter your password"
      />
      <small
        class="error"
        *ngIf="
          f['password'].errors &&
          f['password'].errors['required'] &&
          (f['password'].touched || f['password'].dirty || submited)
        "
        >passwords is required</small
      >
    </div>
    <small *ngIf="submited" class="error">{{ errorMessage }}</small>
    <div>
      <button type="submit" (click)="onSubmit()">Sign In</button>
    </div>
  </form>
</div>
